@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #f5f5f5;
  }
  header, footer {
    background-color: #1a1a1a;
  }
}
  
/* Exibe o botão hambúrguer por padrão */
.navbar-toggler {
  display: block;
}

/* Esconde o botão hambúrguer para telas maiores que 768px */
@media (min-width: 769px) {
  .navbar-toggler {
    display: none;
  }
}

/* my phone */
@media (max-width: 768px) {
  * {
    font-family: 'Roboto', sans-serif;
  }

  body, html {
    overflow-x: hidden;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Espaça logo e hambúrguer horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #2F2F2F;
  }

  .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 6px;
  }

  .navbar .logo {
    flex-shrink: 0; /* Evita que a logo encolha */
  }

  .navbar .logo img {
    max-width: 130px;
    height: auto;
  }

  #searchInput {
    transition: width 0.3s ease-in-out;
  }
  
  .search-bar input {
    width: 10%;
    max-width: 200px;
  }
  
  .navbar .nav-links {
    display: none; /* Esconde os links na tela menor */
  }

  .navbar-toggler {
    display: block; /* Exibe o botão hambúrguer */
    cursor: pointer;
  }

  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }

  /* Extra: Centraliza o menu no modal ao abrir */
  .nav-links.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px; /* Ajuste baseado na altura do header */
    right: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }

  main {
    background-color: #FAF8F5;
    color: #333333;
    padding: 5px;
  }

  .home {
    text-align: justify;
    padding-top: 5vh;
    padding-bottom: 5px;
    display: flex;            
    flex-direction: column; 
    align-items: flex-start;  
    margin: 0 auto;           
    max-width: 800px;
    width: 100%;          
    height: auto;
  }

  .home h1 {
    font-weight: bold; 
  }

  .filtro {
    margin-top: 10px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }
  
  .filtro span {
    color: black;
    font-weight: bold;
  }
  
  .card {
    width: 100%; 
    max-width: 400px; 
    margin: 50px auto; 
    border: none;
    background-color: #FAF8F5;
  }

  /*111111111111111111111111111111111111*/
/* colocar no mobile a parte de baixo*/
.card .post-header {
  display: flex; /* Alinha elementos horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.card .post-header img {
  width: 100%; /* Defina a largura fixa desejada */
  height: 200px; /* Defina a altura fixa desejada */
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
  border-radius: 8px; /* Opcional: para bordas arredondadas */
  border: 1px solid gray;
}

.card .post-header .post-text {
  flex: 1; /* Permite que o texto ocupe o restante do espaço disponível */
  
}

/* colocar no mobile a parte de cima*/

  .post {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 2vh; 
  }
  
  .post-header {
    display: flex;
    flex-direction: column; 
    width: 100%;
  }
  
  .post-header img {
    border-radius: 2vh;
    /* max-width: 800px; 
    max-height: 800px; */
    object-fit: cover; 
  }

  .post-text h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .post-text p {
    font-size: 16px; 
  }

  .post-text span {
    border-radius: 5%;
    padding: 5px 10px;
    background-color: #1212;
    color: black;
  }

  /* perfil styles container*/
.meu-perfil {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  gap: 10px; 
  position: relative;
  margin-top: 10px;
}

.meu-perfil img {
  max-width: 45px; 
  border-radius: 50%; 
  margin-bottom: 15px;
}

.perfil-info {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.perfil-info h1 {
  font-size: 15px!important; 
  margin: 0
}

.perfil-info p {
  margin-top: 2px;
  font-size: 14px; 
  color: #777; 
}


}

