@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-size: 16px; 
}

body {
  font-size: 1rem; 
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2rem; 
}
h2 {
  font-size: 1.75rem; 
}
p {
  font-size: 1rem; 
  line-height: 1.6; 
}

h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem); 
}
h2 {
  font-size: clamp(1.6rem, 2vw, 2.2rem); 
}
p {
  font-size: clamp(0.9rem, 1.5vw, 1.1rem); 
}


body, html {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2F2F2F;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  max-width: 1200px
}

.navbar .logo img {
  filter: brightness(0) invert(1);
}

.logo {
  flex: 0 0 auto; 
}

.logo img {
  max-width: 150px;
}

#searchInput {
  transition: width 0.3s ease-in-out;
}

.search-bar {
  flex: 1; 
  display: flex;
  justify-content: center; 
}

.search-bar input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.navbar .search-bar input {
  width: 100%;
  padding: 8px;
}

.navbar .search-bar {
  flex-grow: 1;
  max-width: 40vh;
  min-width: 22vh;
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  flex: 0 0 auto; 
  display: flex;
  gap: 20px;
  justify-content: flex-end;  
  flex-wrap: wrap;
  text-align: center;
}


.nav-links a {
  color: #1A73E8;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

main {
  background-color: #FAF8F5;
  color: #333333;
  padding-bottom: 10vh;
}

.home {
  padding-top: 6vh;
  padding-bottom: 6vh;
  display: flex;            
  flex-direction: column; 
  align-items: flex-start;  
  margin: 0 auto;           
  max-width: 800px;
  width: 100%;          
  height: auto;
}

.home h1, .home p {
  text-align: left;         
  margin: 0;               
}

.home h1 {
  font-weight: bold; 
}

/* Overlay nav */
/* Alteração na classe do ícone do hambúrguer */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 7h20M5 15h20M5 23h20'%3E%3C/path%3E%3C/svg%3E");
}

.navbar-toggler-icon.close-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 6l18 18M6 24L24 6'%3E%3C/path%3E%3C/svg%3E");
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay.show {
  display: flex;
  opacity: 1;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-content a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 20px 0;
}

.overlay-content a:hover {
  text-decoration: underline;
}

.filtro {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filtro span {
  color: black;
  font-weight: bold;
}

.filtro button {
  border-radius: 5px;
}


/* Structure of post container */
a {
  color: inherit;
  text-decoration: none;
}

.card {
  width: 100%; 
  max-width: 800px; 
  margin: 20px auto; 
  border: none;
  background-color: #FAF8F5;
  margin-bottom: 50px;
}

.card:hover {
  border: 1px solid #1212;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/*111111111111111111111111111111111111*/
/* colocar no mobile a parte de baixo*/
.card .post-header {
  display: flex; /* Alinha elementos horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.card .post-header img {
  width: 200px; /* Defina a largura fixa desejada */
  height: 200px; /* Defina a altura fixa desejada */
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
  border-radius: 8px; /* Opcional: para bordas arredondadas */
  border: 1px solid gray;
}

.card .post-header .post-text {
  flex: 1; /* Permite que o texto ocupe o restante do espaço disponível */
  
}

/* colocar no mobile a parte de cima*/

.post {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 2vh; 
}

.post-header {
  display: flex;
  flex-direction: row; 
  width: 100%;
}

.post-header img {
  border-radius: 2vh;
  object-fit: cover; 
}

.post-text {
  flex-grow: 1; 
  padding: 10px;
  border-bottom: 1px solid #D1D1D1;
}

.post-text h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-text p {
  font-size: 16px; 
}

.post-text span {
  border-radius: 5%;
  padding: 5px 10px;
  background-color: #1212;
  color: black;
}

/* perfil styles container*/
.meu-perfil {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  margin-top: 10px;
}

.meu-perfil img {
  max-width: 50px; 
  border-radius: 50%; 
  margin-bottom: 15px;
}

.perfil-info {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.perfil-info h1 {
  font-size: 15px; 
  margin: 0
}

.perfil-info p {
  font-size: 14px; 
  color: #777; 
  margin-top: 5px;
}

/* Estilos para o campo de pesquisa */
.search-container {
  position: relative;
  margin: 20px;
}

#searchInput {
  padding: 10px;
  width: 200px;
  transition: width 0.4s ease;
}

#searchInput.expanded {
  width: 400px; 
}

footer {
  background-color: #2F2F2F; /* Fundo escuro */
  color: #FFFFFF; /* Texto claro */
  padding: 20px;
  text-align: center; /* Centraliza o texto dentro de cada linha */
}

.footer-container {
  display: flex;
  flex-direction: column; /* Organiza as seções verticalmente */
  align-items: center; /* Centraliza os itens */
  gap: 20px; /* Espaçamento entre as linhas */
}

.footer-icons {
  display: flex;
  justify-content: center; /* Centraliza os ícones */
  gap: 20px; /* Espaçamento entre os ícones */
}

.footer-links {
  display: flex;
  justify-content: center; /* Centraliza os links */
  gap: 20px; /* Espaçamento entre os links */
}

.footer-rights p {
  margin: 0; /* Remove o margin extra */
  font-size: 0.9rem; /* Ajusta o tamanho da fonte */
}

.footer-rights a {
  color: #A8D5BA; /* Cor do link */
  text-decoration: none;
}

.footer-rights a:hover {
  color: #81B29A; /* Cor do link no hover */
}

footer a {
  color: #A8D5BA; /* Cor dos links */
  text-decoration: none;
}

footer a:hover {
  color: #81B29A; /* Cor no hover */
}

footer i {
  font-size: 35px;
}
