@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

/* CSS Atualizado */

/* Ajeitando o header e navbar para dispositivos móveis */
/* Estilo do header */
header {
  display: flex;
  justify-content: center;  /* Centraliza o conteúdo no header */
  align-items: center;
  background-color: #2F2F2F;
  padding: 10px 20px;
}

header a {
  text-decoration: none!important;
}

/* Navbar com responsividade */
.navbar {
  display: flex;
  justify-content: space-between;  /* Distribui logo, links e barra de pesquisa */
  align-items: center;
  width: 100%;
}

/* Logo */
.navbar .logo img {
  filter: brightness(0) invert(1);
  max-width: 150px;
  
  margin-right: 10rem;
}

/* Links de navegação */
.nav-links {
  display: flex;
  gap: 20px;
  justify-content: flex-start;  /* Alinha os links à esquerda */
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Barra de pesquisa */
.navbar .search-bar {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;  /* Coloca a barra de pesquisa ao lado direito dos links */
  width: 30%;
}

.navbar .search-bar input {
  width: 100%;
  padding: 8px;
  align-items: right;
}

/* Responsividade - Para telas menores */
@media (max-width: 992px) {
  .navbar .search-bar {
    width: 100%;  /* A barra de pesquisa ocupa toda a largura em telas pequenas */
  }

  .nav-links {
    display: flex;
    flex-direction: column; /* Torna os links verticais em telas pequenas */
    gap: 10px;
    margin-bottom: 10px;
  }

  .navbar-toggler {
    display: block;  /* Exibe o botão de alternância */
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-toggler.collapsed + .navbar-collapse {
    display: flex;
    flex-direction: column;
    width: 100%;  /* Garante que o menu ocupe toda a largura */
  }
}

/* Navbar com responsividade */
.navbar {
  display: flex;
  justify-content: space-between;  /* Logo, links e pesquisa são distribuídos */
  align-items: center;
  width: 100%;
}

.navbar .logo img {
  filter: brightness(0) invert(1);
  max-width: 150px;
}

/* Barra de pesquisa */
.navbar .search-bar {
  flex-grow: 1;
  max-width: 40vh;
  min-width: 22vh;
  display: flex;
  justify-content: flex-end;
}

.navbar .search-bar input {
  width: 100%;
  padding: 8px;
}

/* Links da navegação */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Responsividade - Para telas menores */
@media (max-width: 992px) {
  .navbar .search-bar {
    max-width: 100%;  /* Ajusta a barra de pesquisa em telas pequenas */
  }
  
  .nav-links {
    display: flex;
    flex-direction: column; /* Torna os links verticais em telas pequenas */
    gap: 10px;
  }

  .navbar-toggler {
    display: block;  /* Exibe o botão de alternância */
  }
  
  .navbar-collapse {
    display: none;
  }
  
  .navbar-toggler.collapsed + .navbar-collapse {
    display: flex; /* Exibe os links quando o botão de alternância for clicado */
    flex-direction: column;
    width: 100%;  /* Garante que o menu ocupe a largura toda */
  }
}

main {
  padding-top: 10px;
  background-color: #FAF8F5!important;
  color: #333333;
  padding-bottom: 10vh;
}

.home {
  display: flex;            /* Usando flexbox */
  flex-direction: column;   /* Coloca os elementos em coluna */
  align-items: flex-start;  /* Alinha os itens à esquerda (não centraliza) */
  margin: 0 auto;           /* Centraliza horizontalmente o container */
  max-width: 800px;         /* Largura máxima para a home */
  width: 100%;              /* Garante que ocupe 100% da largura até a largura máxima */
  height: auto;             /* Garante que o tamanho se ajuste ao conteúdo */
}

.home h1, .home p {
  text-align: left;         /* Garante que todos os textos fiquem alinhados à esquerda */
  margin: 0;                /* Remove a margem padrão */
}



/* Overlay de navegação */
/* Alteração na classe do ícone do hambúrguer */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 7h20M5 15h20M5 23h20'%3E%3C/path%3E%3C/svg%3E");
}

.navbar-toggler-icon.close-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 6l18 18M6 24L24 6'%3E%3C/path%3E%3C/svg%3E");
}

/* Overlay que vai aparecer com os links */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay.show {
  display: flex;
  opacity: 1;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-content a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 20px 0;
}

.overlay-content a:hover {
  text-decoration: underline;
}

.filtro {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filtro span {
  color: black;
  font-weight: bold;
}

.filtro button {
  border-radius: 5px;
}


/* Estrutura do post container */

a {
  color: inherit; /* Herda a cor do elemento pai */
  text-decoration: none; /* Remove o sublinhado padrão */
}

.card {
  width: 100%; /* Ajuste a largura conforme necessário */
  max-width: 800px; /* Limite o tamanho máximo se necessário */
  margin: 20px auto; /* Centraliza os cards na tela */
}

.post {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 2vh; 
}

.post-header {
  display: flex;
  flex-direction: row; 
  width: 100%;
}

.post-header img {
  border-radius: 2vh;
  max-width: 30vh; 
  object-fit: cover; 
}

.post-text {
  flex-grow: 1; 
  padding: 10px;
}

.post-text h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-text p {
  font-size: 16px; 
}

.post-text span {
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #1212;
  color: black;
}

/* Estilo do perfil */
.meu-perfil {
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin-top: 20px;
}

.meu-perfil img {
  max-width: 50px; 
  border-radius: 50%; 
  margin-bottom: 15px;
}

.perfil-info {
  display: flex;
  flex-direction: column; /* Organiza os itens do perfil verticalmente */
  justify-content: center;
}

.perfil-info h1 {
  font-size: 15px; /* Tamanho do nome */
  margin: 0
}

.perfil-info p {
  font-size: 14px; /* Tamanho do cargo */
  color: #777; /* Cor para o cargo */
  margin-top: 5px;
}

.content {
  margin-bottom: 100px;
}

#image-spring {
  width: 800px;
}

footer {
  background-color: #2F2F2F; /* Fundo escuro */
  color: #FFFFFF; /* Texto claro */
  padding: 20px;
  text-align: center; /* Centraliza o texto dentro de cada linha */
}

.footer-container {
  display: flex;
  flex-direction: column; /* Organiza as seções verticalmente */
  align-items: center; /* Centraliza os itens */
  gap: 20px; /* Espaçamento entre as linhas */
}

.footer-icons {
  display: flex;
  justify-content: center; /* Centraliza os ícones */
  gap: 20px; /* Espaçamento entre os ícones */
}

.footer-links {
  display: flex;
  justify-content: center; /* Centraliza os links */
  gap: 20px; /* Espaçamento entre os links */
}

.footer-rights p {
  margin: 0; /* Remove o margin extra */
  font-size: 0.9rem; /* Ajusta o tamanho da fonte */
}

.footer-rights a {
  color: #A8D5BA; /* Cor do link */
  text-decoration: none;
}

.footer-rights a:hover {
  color: #81B29A; /* Cor do link no hover */
}

footer a {
  color: #A8D5BA; /* Cor dos links */
  text-decoration: none;
}

footer a:hover {
  color: #81B29A; /* Cor no hover */
}

footer i {
  font-size: 35px;
}




















