@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-size: 16px; 
}

body {
  font-size: 1rem; 
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2rem; 
}
h2 {
  font-size: 1.75rem; 
}
p {
  font-size: 1rem; 
  line-height: 1.6; 
}

h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem); 
}
h2 {
  font-size: clamp(1.6rem, 2vw, 2.2rem); 
}
p {
  font-size: clamp(0.9rem, 1.5vw, 1.1rem); 
}


body, html {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2F2F2F;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  max-width: 1200px
}

.navbar .logo img {
  filter: brightness(0) invert(1);
}

.logo {
  flex: 0 0 auto; 
}

.logo img {
  max-width: 150px;
}

#searchInput {
  transition: width 0.3s ease-in-out;
}

.search-bar {
  flex: 1; 
  display: flex;
  justify-content: center; 
}

.search-bar input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.navbar .search-bar input {
  width: 100%;
  padding: 8px;
}

.navbar .search-bar {
  flex-grow: 1;
  max-width: 40vh;
  min-width: 22vh;
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  flex: 0 0 auto; 
  display: flex;
  gap: 20px;
  justify-content: flex-end;  
  flex-wrap: wrap;
  text-align: center;
}

.nav-links a {
  color: #1A73E8;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

main {
  padding-top: 10px;
  background-color: #FAF8F5;
  color: #333333;
  padding-bottom: 10vh;
}

/* Overlay de navegação */
/* Alteração na classe do ícone do hambúrguer */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 7h20M5 15h20M5 23h20'%3E%3C/path%3E%3C/svg%3E");
}

.navbar-toggler-icon.close-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 6l18 18M6 24L24 6'%3E%3C/path%3E%3C/svg%3E");
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay.show {
  display: flex;
  opacity: 1;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-content a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 20px 0;
}

.overlay-content a:hover {
  text-decoration: underline;
}

a {
  color: inherit; 
  text-decoration: none; 
}

.meu-perfil {
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin-top: 20px;
}

.meu-perfil img {
  max-width: 50px; 
  border-radius: 50%; 
  margin-bottom: 15px;
}

.perfil-info {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.perfil-info h1 {
  font-size: 15px; 
  margin: 0
}

.perfil-info p {
  font-size: 14px; 
  color: #777; 
  margin-top: 5px;
}

.content {
  margin-bottom: 50px;
}

.content img {
  width: 600px;
}

footer {
  background-color: #2F2F2F; 
  color: #FFFFFF; 
  padding: 20px;
  text-align: center; 
}

.footer-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 20px; 
}

.footer-icons {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.footer-links {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.footer-rights p {
  margin: 0; 
  font-size: 0.9rem; 
}

.footer-rights a {
  color: #A8D5BA; 
  text-decoration: none;
}

.footer-rights a:hover {
  color: #81B29A; 
}

footer a {
  color: #A8D5BA;
  text-decoration: none;
}

footer a:hover {
  color: #81B29A; 
}

footer i {
  font-size: 35px;
}


/* Especificando para a página de erro */
.container .error-page {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilização do título de erro */
.container .error-page .error-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

/* Mensagem de erro */
.container .error-page .error-message {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

/* Sugestões de links */
.container .error-page .suggestion {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.container .error-page .suggestion ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.container .error-page .suggestion ul li {
  margin: 5px 0;
}

.container .error-page .suggestion ul li a {
  color: #007BFF;
  transition: color 0.3s;
}

.container .error-page .suggestion ul li a:hover {
  color: #0056b3;
  text-decoration: underline; /* Adiciona a linha embaixo no hover */
}

/* Link para voltar à home */
.container .error-page .home-link a {
  font-size: 16px;
  color: blue;
  text-decoration: underline;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.container .error-page .home-link a:hover {
  color: blue;
  text-decoration: underline;
}
